.ppcp--static-value {
	@include font(13, 26, 400);

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Fix the checkbox layout (add gap between checkbox and label).
.components-checkbox-control > .components-base-control__field > .components-flex {
	flex-direction: row;
	gap: 12px;
}

// Fix layout for radio groups inside a horizontal flex-stack.
.components-flex.components-h-stack > .components-radio-control {
	width: 100%;

	.components-radio-control__group-wrapper {
		justify-content: flex-start;
		flex-direction: row;
		gap: 12px;
	}
}
