/**
 * Used by the "Connection Details" section in the top of the "Settings" tab.
 */
.ppcp--value-list {
	--block-item-gap: 0;
	--block-separator-gap: 6px;
	--block-header-gap: 0;
	--block-separator-size: 0;
}
