{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"env": {
		"browser": true,
		"jest": true
	},
	"globals": {
		"wc": true,
		"jQuery": "readonly",
		"ppcpSwitchSettingsUi": "readonly"
	},
	"rules": {
		"no-console": ["error", { "allow": ["warn", "error"] }]
	}
}
