{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"globals": {
		"wc": true,
        "PayPalCommerceGateway": "readonly",
        "jQuery": "readonly"
	},
	"rules": {
		"no-console": ["error", { "allow": ["warn", "error"] }]
	}
}
