/vendor/
/build/
/.idea/
node_modules
.phpunit.result.cache
yarn-error.log
modules/ppcp-button/assets/*
modules/ppcp-wc-gateway/assets/js
modules/ppcp-wc-gateway/assets/css
*.zip
.env
.env.e2e
auth.json
/test-results/
/playwright-report/
/tests/playwright/.cache/
