/vendor/
/build/
/.idea/
node_modules
.phpunit.result.cache
phpunit.xml.dist.bak
yarn-error.log
modules/*/vendor/*
modules/*/assets/*
!modules/ppcp-wc-gateway/assets/images
*.zip
!tests/qa/resources/files/*.zip
!tests/qa-legacy-ui/resources/files/*.zip
.env
.env.integration
auth.json
.DS_Store
tests/.DS_Store
.composer_compiled_assets
/coverage/
assets
tests/inc/inpsyde/
