/vendor/
/build/
/.idea/
node_modules
.phpunit.result.cache
yarn-error.log
modules/*/vendor/*
modules/*/assets/*
!modules/ppcp-wc-gateway/assets/images
*.zip
.env
.env.e2e
auth.json
.DS_Store
tests/.DS_Store
.composer_compiled_assets
