<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/PHPUnit/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./modules/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/PHPUnit</directory>
        </testsuite>
    </testsuites>
</phpunit>
