@use "mixins/apm-button" as apm-button;

#place_order.ppcp-hidden {
	display: none !important;
}

.ppcp-disabled {
	cursor: not-allowed;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

	* {
		pointer-events: none;
	}
}

.ppc-button-wrapper .ppcp-messages:first-child {
	padding-top: 10px;
}

// Prevents spacing after button group.
#ppc-button-ppcp-gateway {
	line-height: 0;

	div[class^="item-"] {
		margin-top: 14px;
		&:first-child {
			margin-top: 0;
		}
	}
}

#ppc-button-minicart {
	line-height: 0;
	display: block;
}

.ppcp-button-apm {
	@include apm-button.button;
}
