#payment ul.payment_methods [class*="payment_method_ppcp-"] label img {
	max-height: 25px;
	display: inline-block;
}

.payments-sdk-contingency-handler {
	z-index: 1000 !important;
}

.ppcp-credit-card-gateway-form-field-disabled {
	opacity: .5 !important;
}

.ppcp-dcc-order-button {
	float: right;
}

iframe[id^="hosted-fields-tokenization-frame_"] {
	display: none;
}
