.ppcp-card-icon {
    max-width: 50px;
    margin-left: 5px;
}

#ppcp-hosted-fields {

    .ppcp-dcc-credit-card-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 55% 1fr 1fr;
        grid-template-rows: 1fr 1fr auto;
        grid-column-gap: 15px;
        margin-bottom: 15px;

        label, span {
            height: 30px;
            padding: 0;
            margin: 0;
            overflow: hidden;
            position: relative;
            vertical-align: bottom;
            font-size: 10px;
        }

        label {
            grid-row: 1/2;
        }
        span {
            grid-row: 2/3;
            background:white;
            border: 1px #666;
            padding: 5px;
        }

        button {
            grid-row: 3/4;
            grid-column: 1/4;
        }

        label {
            line-height: 30px;
        }
    }

}




