/**
 * Modal for disconnecting the merchant from the current PayPal account.
 */
.ppcp--modal-disconnect {
	.ppcp--toggle-danger .components-form-toggle {
		&.is-checked {
			--wp-components-color-accent: #cc1818;
		}
	}

	.ppcp--action-buttons {
		text-align: right;
		margin-top: 32px;

		.components-button {
			transition: background 0.3s;
		}
	}
}

.ppcp-r-modal {
	button.components-button,
	a.components-button {
		&:focus:not(:disabled) {
			outline: none;
		}

		&:focus-visible:not(:disabled),
		&:not(.components-tab-panel__tabs-item):focus-visible:not(:disabled)
		&[data-focus-visible="true"] {
			outline: 2px solid #{$color-blueberry};
		}
	}
}
