@import './onboarding/step-welcome';
@import './onboarding/step-business';
@import './onboarding/step-products';
@import './onboarding/step-payment-methods';

.ppcp-r-tabs.onboarding,
.ppcp-r-container--onboarding {
	--max-container-width: var(--max-width-onboarding);

	margin-left: auto;
	margin-right: auto;

	.ppcp-r-inner-container {
		max-width: var(--max-width-onboarding-content);

		&.ppcp--wide {
			--max-width-onboarding-content: none;
		}
	}

	.ppcp-r-payment-method--separator {
		margin: 8px 0 24px 0;
	}

	.components-button.ppcp-r-button-activate-paypal,
	.ppcp-r-connection-button.ppcp--mode-live {
		--button-background: #000;
	}
}
