@import './onboarding/step-welcome';
@import './onboarding/step-business';
@import './onboarding/step-products';
@import './onboarding/step-payment-methods';

.ppcp-r-tabs.onboarding,
.ppcp-r-container--onboarding {
	--max-container-width: var(--max-width-onboarding);

	margin-left: auto;
	margin-right: auto;

	.ppcp-r-inner-container {
		max-width: var(--max-width-onboarding-content);

		&.ppcp--wide {
			--max-width-onboarding-content: none;
		}
	}

	.ppcp-r-payment-method--separator {
		margin: 8px 0 24px 0;
	}

	.onboarding-advanced-options {
		margin-top: 24px;
		margin-bottom: 48px;
		max-width: 800px;

		.ppcp--toggler .ppcp--title-wrapper {
			justify-content: center;
		}

		.components-base-control__field {
			margin: 0 0 24px 0;
		}

		.manual-credentials-error {
			@include font(11, 16, 450);
			margin: -16px 0 24px;
			color: var(--color-error);
		}
	}

	.components-button.ppcp-r-button-activate-paypal,
	.ppcp-r-connection-button.ppcp--mode-live {
		--button-background: #000;
	}
}
