@import './settings/controls';
@import './settings/input';
@import './settings/tab-settings';
@import './settings/tab-styling';
@import './settings/tab-paylater-configurator';

// Container and Tab Settings
.ppcp-r-tabs.settings,
.ppcp-r-container--settings {
	--max-container-width: var(--max-width-settings);

	.ppcp-r-inner-container {
		max-width: var(--max-container-width);
	}
}

// Todo List and Feature Items
.ppcp-r-todo-item {
	position: relative;
	display: flex;
	align-items: center;
	gap: 18px;
	width: 100%;

	&:hover {
		cursor: pointer;

		.ppcp-r-todo-item__inner {
			.ppcp-r-todo-item__description {
				color: $color-text-text;
			}
		}
	}

	&:not(:last-child) {
		border-bottom: 1px solid $color-gray-400;
		padding-bottom: 16px;
	}

	&:not(:first-child) {
		padding-top: 16px;
	}

	&.is-completed {
		.ppcp-r-todo-item__icon {
			border-style: solid;
			background-color: $color-blueberry;
			display: flex;
			align-items: center;
			justify-content: center;

			.dashicons {
				color: #fff;
				font-size: 18px;
				width: 18px;
				height: 18px;
			}
		}

		.ppcp-r-todo-item__content {
			text-decoration: line-through;
		}
	}

	p {
		@include font(14, 20, 400);
	}

	&__inner {
		position: relative;
		display: flex;
		align-items: center;
		gap: 18px;
	}

	&__close {
		margin-left: auto;

		&:hover {
			cursor: pointer;
			color: $color-blueberry;
		}
	}

	.ppcp-r__checkbox {
		.components-flex {
			gap: 12px;
		}

		label {
			@include font(13, 20, 400);
			color: $color-blueberry;
		}
	}

	&__description {
		@include font(13, 20, 400);
		color: $color-blueberry;
	}

	&__icon {
		border: 1px dashed #949494;
		background: #fff;
		border-radius: 50%;
		width: 24px;
		height: 24px;
	}
}

.ppcp-r-tab-overview-features {
	--block-header-gap: 12px;
}

.ppcp-r-tab-overview-help {
	--block-header-gap: 8px;
}

.ppcp-r-settings-block__feature {
	.ppcp--action-buttons {
		display: flex;
		gap: 18px;

		.components-button.is-tertiary {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.ppcp--item-notes {
		display: flex;
		flex-direction: column;

		span {
			font-weight: 500;
		}

		margin-top: 24px;
	}
}

// Feature Refresh
.ppcp-r-feature-refresh {
	display: flex;
	gap: 12px;
	margin-bottom: 24px;

	&__row {
		display: flex;
		align-items: center;
	}

	&__content {
		width: 100%;

		&-title {
			@include font(16, 20, 700);
			color: $color-black;
			display: block;
			margin: 0 0 4px 0;
		}

		p {
			@include font(12, 20, 400);
			color: $color-gray-700;
			margin: 0;
		}
	}

	button {
		display: flex;
		gap: 4px;
		@include font(13, 20, 400);
	}
}

// Payment Methods
.ppcp-r-payment-methods {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

