.ppcp-preview {
	width: 350px;
	padding: 15px;
	border: 1px solid lightgray;
	background: #eeeeef;
	border-radius: 15px;
	box-shadow: 0 2px 10px 1px #ddd;
	margin-right: -28px;

	// Preview box showing a single button.
	&[data-ppcp-apm-preview] {
		height: 82px;

		@media (min-width: 1200px) {
			margin-top: -149px;
		}

		@media (min-width: 601px) and (max-width: 1399px) {
			margin-right: 10px;
		}
	}

	h4 {
		margin-top: 0;
	}

	@media (min-width: 1200px) {
		float: right;
		margin-top: -300px;
	}

	@media (min-width: 1400px) {
		margin-right: 13%;
	}

	@media (min-width: 2000px) {
		margin-right: 42%;
	}

	@media (max-width: 600px) {
		width: auto;
		margin-right: 0px;
	}
}

.ppcp-button-preview.pay-later {
	@media (min-width: 1200px) {
		margin-top: -250px;
	}
}

.ppcp-button-preview.pay-later.disabled {
	@media (min-width: 1200px) {
		margin-top: -152px;
	}
}
