.ppcp-preview {
	width: 350px;
	padding: 15px;
	border: 1px solid lightgray;
	border-radius: 15px;
	box-shadow: 0 2px 10px 1px #ddd;
	margin-right: -28px;

	h4 {
		margin-top: 0;
	}

	@media (min-width: 1200px) {
		float: right;
		margin-top: -300px;
	}

	@media (min-width: 1400px) {
		margin-right: 13%;
	}

	@media (min-width: 2000px) {
		margin-right: 42%;
	}

	@media (max-width: 600px) {
		width: auto;
		margin-right: 0px;
	}
}

.ppcp-button-preview.pay-later {
	@media (min-width: 1200px) {
		margin-top: -250px;
	}
}

.ppcp-button-preview.pay-later.disabled {
	@media (min-width: 1200px) {
		margin-top: -152px;
	}
}
