#ppcp-axo-block-radio-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-right: 1em;
}

.ppcp-axo-block-watermark-container {
	float: right;
	margin-top: 10px;
}

.wc-block-checkout-axo-block-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.wc-block-checkout-axo-block-card__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
	width: 100%;
}

.wc-block-checkout-axo-block-card__content {
	box-sizing: border-box;
	aspect-ratio: 1.586;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid hsla(0,0%,7%,.11);
	font-size: .875em;
	font-family: monospace;
	padding: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	border-radius: 4px;
	width: 100%;
}

.wc-block-checkout-axo-block-card__meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.wc-block-checkout-axo-block-card__meta-digits {
	letter-spacing: 2px;
}

.wc-block-checkout-axo-block-card__watermark {
	align-self: flex-end;
}

.wc-block-checkout-axo-block-card__edit {
	background-color: transparent;
	border: 0;
	color: inherit;
	cursor: pointer;
	display: block;
	font-family: inherit;
	margin: 0 0 0 auto;
	font-size: .875em;
	font-weight: normal;

	&:hover {
		text-decoration: underline;
	}
}

.wc-block-axo-block-card__meta:last-child {
	align-self: flex-end;
}

.wc-block-axo-block-card__meta-icon {
	max-height: 25px;
}
