.optional {
	display: none;
}

.ppcp-onboarded .ppcp-onboarding-element:not(.ppcp-always-shown-element) {
	display: none;
}

.ppcp-onboarding .ppcp-settings-field:not(.ppcp-onboarding-element):not(.ppcp-always-shown-element) {
	display: none;
}

.ppcp-settings-field.hide {
	display: none;
}

.ppcp-settings-field.show {
	display: table-row;
}

label.error {
	color: red;
	font-weight: bold;
}

#field-toggle_manual_input button {
	color: #0073aa;
	transition-property: border, background, color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out;
	background: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

/* Probably not the best location for this but will do until there's a general purpose settings CSS file. */
.ppcp-settings-field-heading td, .ppcp-settings-field-heading th, .ppcp-settings-no-title-col td {
	padding-left: 0;
}

.woocommerce_page_wc-settings h3.ppcp-subheading {
	font-size: 1.1em;
}

.input-text[pattern]:invalid {
	border: red solid 2px;
}

ul.ppcp-onboarding-options, ul.ppcp-onboarding-options-sublist {
	list-style: none;
}

ul.ppcp-onboarding-options-sublist {
	margin-left: 15px;
}

.ppcp-muted-text {
	opacity: 0.6;
}

.ppcp-onboarding-header {
	display: flex;
	width: 1000px;
}

.ppcp-onboarding-header-left, .ppcp-onboarding-header-right {
	flex: 50%;
}

.ppcp-onboarding-header h2 {
	margin-top: 0;
}

.ppcp-onboarding-header-cards img, .ppcp-onboarding-header-paypal-logos img {
	margin: 5px;
}

.ppcp-onboarding-header-cards img {
	height: 40px;
}

.ppcp-onboarding-header-paypal-logos img {
	height: 45px;
}
