.optional {
	display: none;
}

#field-merchant_email_production,
#field-merchant_id_production,
#field-client_id_production,
#field-client_secret_production,
#field-merchant_email_sandbox,
#field-merchant_id_sandbox,
#field-client_id_sandbox,
#field-client_secret_sandbox{
	display: none;
}

#field-merchant_email_production.show,
#field-merchant_id_production.show,
#field-client_id_production.show,
#field-client_secret_production.show,
#field-merchant_email_sandbox.show,
#field-merchant_id_sandbox.show,
#field-client_id_sandbox.show,
#field-client_secret_sandbox.show {
	display: table-row;
}

#field-toggle_manual_input button {
	color: #0073aa;
	transition-property: border, background, color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out;
	background: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

#field-sandbox_on.onboarded {
	display: none;
}

#field-merchant_email_sandbox.onboarded,
#field-merchant_id_sandbox.onboarded,
#field-client_id_sandbox.onboarded,
#field-client_secret_sandbox.onboarded,
#field-merchant_email_production.onboarded,
#field-merchant_id_production.onboarded,
#field-client_id_production.onboarded,
#field-client_secret_production.onboarded {
	display:table-row;
}

#field-merchant_email_sandbox.onboarded.hide,
#field-merchant_id_sandbox.onboarded.hide,
#field-client_id_sandbox.onboarded.hide,
#field-client_secret_sandbox.onboarded.hide,
#field-merchant_email_production.onboarded.hide,
#field-merchant_id_production.onboarded.hide,
#field-client_id_production.onboarded.hide,
#field-client_secret_production.onboarded.hide {
	display:none;
}

/* Probably not the best location for this but will do until there's a general purpose settings CSS file. */
.ppcp-settings-field-heading td, .ppcp-settings-field-heading th, .ppcp-settings-no-title-col td {
	padding-left: 0;
}

.woocommerce_page_wc-settings h3.ppcp-subheading {
	font-size: 1.1em;
}

.input-text[pattern]:invalid {
	border: red solid 2px;
}

ul.ppcp-onboarding-options, ul.ppcp-onboarding-options-sublist {
	list-style: none;
}

ul.ppcp-onboarding-options-sublist {
	margin-left: 15px;
}

.ppcp-muted-text {
	opacity: 0.6;
}

.ppcp-onboarding-header {
	display: flex;
	width: 1000px;
}

.ppcp-onboarding-header-left, .ppcp-onboarding-header-right {
	flex: 50%;
}

.ppcp-onboarding-header h2 {
	margin-top: 0;
}

.ppcp-onboarding-header-cards img, .ppcp-onboarding-header-paypal-logos img {
	margin: 5px;
}

.ppcp-onboarding-header-cards img {
	height: 40px;
}

.ppcp-onboarding-header-paypal-logos img {
	height: 45px;
}
