# JDoe test single site, PHP x.x
# playwright-utils config
WP_BASE_URL=''
WP_USERNAME=admin
WP_PASSWORD=pass
WP_BASIC_AUTH_USER=admin
WP_BASIC_AUTH_PASS=pass
STORAGE_STATE_PATH='./storage-states'
STORAGE_STATE_PATH_ADMIN='./storage-states/admin.json'

# WooCommerce
WC_API_KEY=api_client_key
WC_API_SECRET=api_client_secret
# WC_DEFAULT_COUNTRY=
# WC_DEFAULT_CURRENCY=

# Percy
PERCY_TOKEN=web_abc123

# Xray in Jira
XRAY_CLIENT_ID='B3B1169C13144A268BD8F34290B6EB4A'
XRAY_CLIENT_SECRET='c913b13fa41b8e3053818ab20120db64f877f05b211b02c96743c0f7271879f7'
# TEST_EXEC_KEY=''

# MERCHANT_USA_EMAIL=
# MERCHANT_USA_CLIENT_ID=
# MERCHANT_USA_CLIENT_SECRET=
# MERCHANT_USA_ACCOUNT_ID=

# FASTLANE_EMAIL_RYAN=

# WP CLI
# SSH_LOGIN=
# SSH_HOST=
# SSH_PORT=
# SSH_PATH=
