# JDoe test single site, PHP x.x
# playwright-utils config
WP_BASE_URL='http://localhost:8889' # Default WP ENV URL - Dont change if running tests in wp-env
WP_USERNAME='admin' # Default WP ENV USERNAME - Dont change if running tests in wp-env
WP_PASSWORD='password'  # Default WP ENV PASSWORD - Dont change if running tests in wp-env
WP_BASIC_AUTH_USER='admin'  # Default WP ENV USERNAME - Dont change if running tests in wp-env
WP_BASIC_AUTH_PASS='password' # Default  WP ENV PASSWORD - Dont change if running tests in wp-env
STORAGE_STATE_PATH='./storage-states'
STORAGE_STATE_PATH_ADMIN='./storage-states/admin.json'

# WooCommerce - KEY and SECRET are autopopulated, no need to add them
WC_API_KEY=
WC_API_SECRET=
# WC_DEFAULT_COUNTRY=usa
# WC_DEFAULT_CURRENCY=usa

# WORDPRESS DB
WORDPRESS_DB_USER=root
WORDPRESS_DB_PASSWORD=passsword

# Xray in Jira
XRAY_CLIENT_ID=
XRAY_CLIENT_SECRET=
# TEST_EXEC_KEY=''

# PayPal Merchant Account Info - Fill it with your Sandbox Merchant account
# MERCHANT_USA_EMAIL=
# MERCHANT_USA_CLIENT_ID=
# MERCHANT_USA_CLIENT_SECRET=
# MERCHANT_USA_ACCOUNT_ID=

# PAYPAL_PERSONAL_EMAIL_US=
# PAYPAL_PERSONAL_PASS_US=

# FASTLANE_EMAIL_RYAN=

# WP CLI (for clearing cache on Kinsta)
# SSH_LOGIN=
# SSH_HOST=
# SSH_PORT=
# SSH_PATH=
