.ppcp-r-services {
	display: flex;
	flex-wrap: wrap;
	gap: 4px 18px;
	margin: 0;

	li {
		display: flex;
		align-items: center;
		gap: 4px;
		color: $color-gray-700;
		@include font(14, 20, 400);
		margin: 0;

		&::before {
			content: "•";
		}
	}
}

.ppcp-r-page-products {
	.ppcp-r-inner-container {
		width: 622px;
		padding-bottom: 48px;
		@media screen and (max-width: 480px) {
			padding-bottom: 24px;
		}
	}

	.ppcp-r-payment-method-icons {
		justify-content: flex-start;
	}

	.ppcp-r-select-box-wrapper {
		margin: 0 0 48px 0;
	}

	.ppcp-r-select-box__additional-content {
		a {
			@include font(12, 20, 400);
			color: $color-blueberry;
		}
	}
}
