<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="PHPUnit/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./PHPUnit</directory>
        </testsuite>
    </testsuites>
</phpunit>
