.ppcp-button-googlepay {
	min-height: 40px;

	.gpay-card-info-container,
	.gpay-button {
		outline-offset: -1px;
		border-radius: var(--apm-button-border-radius);
	}
}

.wp-block-woocommerce-checkout, .wp-block-woocommerce-cart {
	.gpay-button {
		min-width: 0 !important;
	}
}
