/* Front end display */
.ppcp-button-apm .gpay-card-info-container-fill .gpay-card-info-container {
	outline-offset: -1px;
	border-radius: var(--apm-button-border-radius);
}

/* Admin preview */
.ppcp-button-googlepay {
	min-height: 40px;

	.gpay-card-info-container,
	.gpay-button {
		outline-offset: -1px;
		border-radius: var(--apm-button-border-radius);
	}

	&.ppcp-preview-button.ppcp-button-dummy {
		/* URL must specify the correct module-folder! */
		--apm-button-dummy-background: url(../../../ppcp-googlepay/assets/images/googlepay.png);
	}
}

.wp-block-woocommerce-checkout, .wp-block-woocommerce-cart {
	.gpay-button {
		min-width: 0 !important;
	}
}

#ppc-button-ppcp-googlepay {
	display: none;
}
