#ppc-button-googlepay-container {
	margin-top: 5px;
	overflow: hidden;
	border-radius: 50px;
	height: 45px;
}

.woocommerce-checkout {
	#ppc-button-googlepay-container {
		margin-top: 0;
		border-radius: 18px;
		height: 38px;
	}
}
