
.axo-card-icons {
	padding: 4px 0 16px 25px;

	.ppcp-card-icon {
		float: left !important;
	}
}

.axo-watermark-container {
	max-width: 200px;
	margin-top: 10px;
}

.axo-payment-container {
	padding: 1rem 0;
	background-color: #ffffff;
}
