#applepay-container {
	--apple-pay-button-height: 45px;
	--apple-pay-button-min-height: 40px;
	--apple-pay-button-width: 100%;
	--apple-pay-button-max-width: 750px;
	--apple-pay-button-border-radius: 4px;
	--apple-pay-button-overflow: hidden;
	--apple-pay-button-margin:7px 0;
	&.ppcp-button-pill {
		--apple-pay-button-border-radius: 50px;
	}

	&.ppcp-button-minicart {
		--apple-pay-button-display: block;
		--apple-pay-button-height: 40px;
	}
}

.woocommerce-checkout {
	#applepay-container {
		margin-top: 0.5em;
		--apple-pay-button-border-radius: 4px;
		--apple-pay-button-height: 45px;
		&.ppcp-button-pill {
			--apple-pay-button-border-radius: 50px;
		}
	}
}

.ppcp-has-applepay-block {

	.wp-block-woocommerce-checkout {
		#applepay-container {
			--apple-pay-button-margin: 0;
			--apple-pay-button-height: 40px;
			&.ppcp-button-pill {
				--apple-pay-button-border-radius: 50px;
			}
		}
	}

	.wp-block-woocommerce-cart {
		#applepay-container {
			--apple-pay-button-margin: 0;
			--apple-pay-button-height: 40px;
		}
		/* Workaround for blocks grid */
		.wc-block-components-express-payment__event-buttons {
			--apple-pay-button-display: block;
			li[id*="express-payment-method-ppcp-"] {
				--apple-pay-button-padding-bottom: 0;
			}
		}
	}

}
