.ppcp-r-accordion {
	margin-left: auto;
	margin-right: auto;

	.ppcp--toggler {
		display: block;
		cursor: pointer;

		background: transparent;
		border: 0;
		box-shadow: none;
		padding: 0;
		text-align: var(--accordion-text-align, center);
		width: var(--accordion-width, auto);
		margin: var(--accordion-toggler-gap, 24px) auto;
	}

	.ppcp--title-wrapper {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.ppcp--accordion-content {
		@include grid-reveal(24px 0 0);
	}
}
