.ppcp-r-accordion {
	margin-left: auto;
	margin-right: auto;

	.ppcp--toggler {
		display: block;
		cursor: pointer;

		background: transparent;
		border: 0;
		box-shadow: none;
		padding: 0;
		text-align: var(--accordion-text-align, center);
		width: var(--accordion-width, auto);
		margin: var(--accordion-toggler-gap, 24px) auto;
	}

	.ppcp--title-wrapper {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.ppcp--accordion-content {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 0.2s ease-out, opacity 0.2s ease-out, margin 0.2s ease-out;
		opacity: 0;
		margin: 0;

		> .ppcp--content {
			overflow: hidden;
		}

		&.ppcp--is-open {
			grid-template-rows: 1fr;
			opacity: 1;
			margin: 24px 0 0;
			transition: grid-template-rows 0.3s ease-in, opacity 0.3s ease-in, margin 0.3s ease-in;

			> .ppcp--content {
				// Show the overflow, since the focus-outline can extend outside the content div.
				overflow: visible;
			}
		}
	}
}
