.ppcp-r-badge-box {
	margin: 0 0 8px 0;

	.ppcp-r-badge-box__title {
		@include font(14, 20, 700);
		display: block;
		margin: 0 0 8px 0;

		.ppcp-r-badge-box__title-text {
			@include font(16, 28, 700);
			color: #000;
		}

		.ppcp-r-badge-box__title-text:not(:empty) + .ppcp-r-badge-box__title-image-badge {
			margin-left: 7px;

			img {
				margin-left: 5px;
				vertical-align: bottom;
				height: 24px;
			}
		}
	}

	.ppcp-r-badge-box__title--has-image-badge .ppcp-r-title-badge--info {
		display: block;
		margin: 6px 0 0 0;
		width: fit-content;
	}

	.components-button.is-tertiary {
		padding: 0;
		margin: 0 0 0 4px;
		height: 1em;
	}

	@media screen and (max-width: 480px) {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		flex-direction: column;

		.ppcp-r-badge-box__title-text:not(:empty) + .ppcp-r-badge-box__title-image-badge {
			margin: 0;

			img:first-of-type {
				margin: 0;
			}
		}
	}
}
