button.components-button {
	&.is-primary, &.is-secondary {
		&:not(:disabled) {
			background-color: $color-blueberry;

			&:hover {
				background: $gradient-header;
			}
		}

		&:disabled {
			background-color: $color-gray-500;
			color: $color-white;
		}

		border-radius: 2px;
		padding: 14px 17px;
		height: auto;


	}

	&.is-primary {
		@include font(13, 16, 500);
	}

	&.is-secondary {
		padding: 6px 12px;
		@include font(13, 20, 500);
		color: $color-white;
		border: none;
	}

	&.is-tertiary {
		color: $color-blueberry;

		&:hover {
			color: $color-gradient-dark;
		}

		&:focus:not(:disabled) {
			border: none;
			box-shadow: none;
		}
	}
}
