.ppcp-r-separator{
	display: flex;
	align-items: center;

	&__space,
	&__line {
		margin: 0;
		display: block;
		width: 100%;
	}

	&__line {
		background-color: $color-gray-400;
		height: 1px;
	}

	&__space {
		margin-bottom: 48px;
	}

	&__text {
		color: $color-gray;
		@include font(12, 24, 500, 0.8px);
		text-transform: uppercase;
		padding: 0 23px;
	}
}
