.ppcp-r {

	&-inner-container {
		width: 652px;
		max-width: 100%;
		margin: 0 auto;
		padding:0 16px;
		box-sizing: border-box;
	}

	&-container {
		box-shadow: $shadow-card;
		max-width: 1024px;
		margin: 0 auto;
	}

	&-card {
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
		background-color: $color-white;
	}
}
