.ppcp-r-spinner-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;

	.components-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
	}

	.ppcp--spinner-message {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		top: calc(50% + 20px + var(--spinner-size));
	}

	&.ppcp--is-modal {
		position: fixed;
		width: var(--spinner-overlay-width);
		height: var(--spinner-overlay-height);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
