.ppcp-r-tabs {
	--wp-components-color-accent: #{$color-blueberry};
	--wp-admin-border-width-focus: 2px;

	transition: max-width 0.2s;
	margin-top: 10px;
	width: 100%;

	.components-tab-panel__tabs {
		gap: 0;
		overflow: auto;

		.components-button {
			padding: 16px 20px;
		}
	}
}
