.ppcp-r-welcome-docs {
	margin: 0 0 48px 0;

	&__title {
		text-align: center;
		@include font(20, 28, 700);
		margin: 32px 0 32px 0;
	}

	&__wrapper {
		padding: 8px;
		margin: 0 0 48px 0;

		&--one-col .ppcp-r-badge-box {
			margin: 0 0 24px 0;
		}

		&:not(&--one-col) {
			display: flex;
			justify-content: center;

			@media screen and (max-width: 480px) {
				display: block;
			}
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 4px;
		flex: 1;

		> p {
			margin: 0;
			@include font(13, 16, 400);
			color: $color-gray-700;
		}

		&:not(:last-child) {
			padding-right: 48px;
			border-right: 1px solid $color-gray-200;
			margin-right: 48px;
		}

		@media screen and (max-width: 480px) {
			width: 100%;
			text-align: center;
			border-right: 0 !important;
			padding-right: 0 !important;

			&:not(:last-child) {
				padding-bottom: 8px;
			}
		}
	}
}
