# JDoe test single site, PHP x.x
# playwright-utils config
WP_BASE_URL=''
WP_USERNAME=***
WP_PASSWORD=***
WP_BASIC_AUTH_USER=***
WP_BASIC_AUTH_PASS=***
STORAGE_STATE_PATH='./storage-states'
STORAGE_STATE_PATH_ADMIN='./storage-states/admin.json'

# WooCommerce
WC_API_KEY=***
WC_API_SECRET=***
# WC_DEFAULT_COUNTRY=usa
# WC_DEFAULT_CURRENCY=usa

# Xray in Jira
XRAY_CLIENT_ID=
XRAY_CLIENT_SECRET=
# TEST_EXEC_KEY=''

# MERCHANT_USA_EMAIL=
# MERCHANT_USA_CLIENT_ID=
# MERCHANT_USA_CLIENT_SECRET=
# MERCHANT_USA_ACCOUNT_ID=

# PAYPAL_PERSONAL_EMAIL_US=
# PAYPAL_PERSONAL_PASS_US=

# FASTLANE_EMAIL_RYAN=

# Percy
# PERCY_TOKEN=web_abc123
# PERCY_CLIENT_ERROR_LOGS=false

# WP CLI
# SSH_LOGIN=
# SSH_HOST=
# SSH_PORT=
# SSH_PATH=
