.idea
.vscode
node_modules
playwright-utils
playwright-report*
playwright/.cache
storage-states
test-results

.env*
!.env.example
.DS_Store

/resources/files/woocommerce-paypal-payments.zip
/resources/files/woocommerce-subscriptions.zip
