@font-face {
	font-family: 'PayPalPro';
	src: url('../../fonts/PayPalPro-Black.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'PayPalPro';
	src: url('../../fonts/PayPalPro-BlackItalic.otf') format('opentype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'PayPalPro';
	src: url('../../fonts/PayPalPro-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PayPalPro';
	src: url('../../fonts/PayPalPro-BoldItalic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PayPalPro';
	src: url('../../fonts/PayPalPro-Book.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PayPalPro';
	src: url('../../fonts/PayPalPro-BookItalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@mixin primaryFont{
	font-family: "PayPalPro", sans-serif;
}

* {
	box-sizing: border-box;
}

& {
	font-family: "PayPalPro", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: $color-gray-700;
}

h1, h2, h3, h4 {
	color: $color-black;
}

.components-form-toggle.is-checked > .components-form-toggle__track {
	background-color: $color-blueberry;
}
