* {
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

a:not(.button) {
	color: $color-blueberry;
}

.components-form-toggle.is-checked > .components-form-toggle__track {
	background-color: $color-blueberry;
}
