@use "../../../ppcp-button/resources/css/mixins/apm-button" as apm-button;

li[id^="express-payment-method-ppcp-"] {
	line-height: 0;

	// Set min-width to 0 as the buttons need to fit in a tight grid.
	.paypal-buttons {
		min-width: 0 !important;
	}
}

.ppcp-button-apm {
	@include apm-button.button;
}

.wc-block-components-radio-control__option:has(#ppcp-vault-component) {
	display: flex;
	align-items: center;
	gap: 8px;

	#ppcp-vault-component {
		flex: 1;
		overflow: hidden;
	}
}

